/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  background-image: url("http://wallpapercave.com/wp/4VKVpjo.jpg");
  background-size: cover;
  text-shadow: 1px 1px #c6c6c6;
}

.container{
  border-radius: 2em;
  padding: 2em;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 60%;


}

.button{
  text-align: center;
  width: 10em;
  height: 2em;
  border-radius: 1em;
  border: 1px solid grey;
  background: linear-gradient( to right, #ff0017 , #ff3709, grey);
  color: white;
  font-weight: 800;
  font-size: 1.1em;
}

.button-logout{
  padding: 5px 14px 5px 14px;
  text-align: center;
  min-width: 15em;
  height: 2em;
  border-radius: 1em;
  border: 1px solid grey;
  background: linear-gradient( to right, #ff0017 , #ff3709, grey);
  color: white;
  font-weight: 800;
  font-size: 1.1em;
  text-decoration: none;
}


li{
 list-style: none;
}

label{
  font-size: 1.5em;
  font-weight: 800;
}
p{
  color: white;
}
.post{

  border: 1px solid gray;
  border-radius: 1em;
  span{
    color: steelblue;
  }
  width: 30em;
  margin: 0 auto;
  margin-bottom: 1em;

}

input[type='text'], input[type='password'], input[type='email']{

  border: 1px solid gray;
  border-radius: 1em;
  width: 40em;
  height: 2em;

}
input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='textarea']:focus

{

  transition: border .4s ease-in;
  border: 3px solid crimson;

}
