/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  background: darkgrey;
}

* {
  font-family: 'Literata', serif !important;
}

.container{
  
  padding: 2em;
  background: white;
  text-align: center;
  margin: 5rem auto 0 auto;
  
  width: min-content;


}

.button{
  text-align: center;
  display: inline;
  width: min-content;
  text-decoration: none;
  border-radius: .25em;
  min-width: 7rem;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(72, 72, 204);
  color: white;
  font-weight: 800;
  font-size: 1.1em;
  padding: 5px 10px 5px 10px;
}

.button-logout{
  padding: 5px 10px 5px 10px;
  text-align: center;
  min-width: 7rem;
  
  border-radius: 1em;
  border: 1px solid grey;
  background: linear-gradient( to right,  #ff9232, grey);
  color: white;
  font-weight: 800;
  font-size: 1.1em;
  text-decoration: none;
}


li{
 list-style: none;
}

.upbuttonstitle {
  padding-bottom: .5rem;
  display: block;
}
.post{

  border: 1px solid gray;
  border-radius: 1em;
  span{
    color: steelblue;
  }
  width: 30em;
  margin: 0 auto;
  margin-bottom: 1em;

}

input[type='text'], input[type='password']{

  border: 1px solid rgb(185, 185, 185);
  border-radius: .25em;
  width: 20em;
  padding: 0 0 0 1rem ;
  height: 2.2em;
  font-size: 1.1em;
}